*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: brown;
    font-family: 'Poppins', sans-serif;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}
.logo{
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 22px;
    height: 2px;
    margin: 5px;
    background-color: white;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: brown;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}