.header{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-toggler{
    border: none;
}
.navbar-nav{
    .nav-link{
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        color: $brown;
        font-weight: 500;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: calc(100% - .5rem);
            border-bottom: 2px solid $yellow;
            transition: width .2s ease-in;
        }
        &:hover{
            color: $yellow;
            &::before{
                width: 100%;
            }
        }
        @media (min-width:768px){
            &::before{
                left: .5rem;
            }
            &:hover{
                &::before{
                    width: calc(100% - 1rem);
                }
            }
        }
    }
}
.nav-item{
    display: flex;
    justify-content: flex-end;
}
#navbarNav{
    justify-content: space-between;
    padding: 0 1.2rem;
    @media (min-width:768px) {
        padding: initial;
    }
}
.social-icons{
    display: flex;
    justify-content: flex-end;
    a{
        padding-left: 2.25rem;
        text-decoration: none;
    }
    img{
        width: 2.625rem;
    }
    @media (min-width:768px){
        a{
            padding-left: 1rem;
        }
        img{
            width: 2rem;
        }
    }
}
.hero-container{
    background-color: $brown;
    h1, h2, h3{
        font-family: $title-font;
    }
    h1,h2{
        color: $white;
    }
    h3{
        color: $yellow;
    }
    hr{
        border-color: $white;
    }
    .btn-hero{
        color: $brown;
        background-color: $white;
        font-weight: 500;
        &:hover{
            background-color: $yellow;
        }
        &:focus{
            box-shadow: 0 0 0 0.2rem rgba(220, 160, 71, .25);
        }
    }
}
section{
    border-bottom: 1px solid $brown;
    .logo-img{
        text-align: center;
        margin-bottom: 2rem;
        img{
            width: 50%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
.servizi{
    .elenco-servizi{
        text-align: center;
        list-style: none;
        font-weight: 500;
        padding-left: 0;
    }
}
.contatti{
    background-color: $brown;
    color: $white;
    text-align: center;
    h2{
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    h3{
        color: $yellow;

    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    .loghi-social{
        a{
            text-decoration: none;
            img{
                padding: 1rem;
            }
        }
    }
}
footer{
    padding: 3rem 0;
    text-align: center;
}