@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 7rem;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: white;
}
.titolo-sx{
    min-height: 100vh;
    padding-top: 5%;
    padding-left: 5%;
}
.titolo-dx{
    min-height: 100vh;
    padding-top: 5%;
    padding-right: 5%;
    text-align: right;
}
#titolo1{
    color:#FFDC26;
}

#titolo2{
    color: #0FC6EE;
}
#titolo3{
    color:#EE0FB0;
    padding-left: 5%;
}
.venda{
    color: #640FEE;
}
body{
    background-color: #323232;
}